/.idea/
/.vscode/
/venv*/
/.venv*/
/env*/
/.env*/
__pycache__/
*.pyc
/.pytest_cache/
/.tox/
**.egg-info/
/dist/
/docs/_build/
.python-version
# prefix for devs private stuff kept with the project
private_*
